#site-credit {
	background-image: none;
}

#site-credit img {
	vertical-align: middle;
}
#site-credit p {
	margin: 0 auto;
	font-size: 12px;
}

#site-credit a:link, #site-credit a:visited {
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	display:block;
	padding:8px 0;
	background:#333333;
	border-top:1px solid #666666;
	border-bottom:1px solid #222222;
}

#site-credit a:hover {
	background:#3f3f3f;
	border-top:1px solid #666777;
	border-bottom:1px solid #222111;
}

#site-credit span {
	text-align: center;
}
